{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="row mt-2">
    <div class="col-10 mx-auto mt-5">
        <div class="row">
            <div class="col">
                {% for doc in docs %}
                    <div class="card p-4 mb-4">
                        <div class="d-flex">
                            <a class="h4 flex-grow-1" style='text-decoration: none;' href="{% url 'core:doc' doc_id=doc.id %}">
                                {{ doc.name }}
                            </a>
                            <div class="dropstart">
                                <button class="btn btn-lg p-0 fs-3 border-0" data-bs-toggle="dropdown" style="line-height:10px;">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <ul class="dropdown-menu me-1">
                                    <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#rename-{{doc.id}}">
                                        <i class="bi bi-pencil-square me-2"></i> Rename
                                    </button></li>
                                    <form method="post">
                                        {% csrf_token %}
                                        <button class="dropdown-item" type="submit" name="download" value="{{ doc.id }}">
                                            <i class="bi bi-box-arrow-down me-2"></i> Download
                                        </button></li>

                                    </form>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><button class="dropdown-item text-secondary" type="button" data-bs-toggle="modal" data-bs-target="#delete-{{doc.id}}">
                                        <i class="bi bi-trash me-2"></i> Delete
                                    </button></li>
                                </ul>
                                <div class="modal fade" id="rename-{{ doc.id }}" tabindex="-1">
                                    <form method='post' class="modal-dialog modal-dialog-centered">
                                        {% csrf_token %}
                                        <div class="modal-content">
                                            <div class="modal-header border-0">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-center mt-2 mb-5">
                                                <p class="h4 mb-3">
                                                    Rename your document
                                                </p>
                                                <div class="px-5 mb-3">
                                                    <input class="form-control" type="text" name="new_name" value="{{ doc.name }}">
                                                </div>
                                                <button class="btn btn-secondary" type="submit" name="rename" value="{{ doc.id }}" data-bs-toggle="modal" data-bs-target="#waiting">
                                                    Update
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="modal fade" id="delete-{{ doc.id }}" tabindex="-1">
                                    <form method='post' class="modal-dialog modal-dialog-centered">
                                        {% csrf_token %}
                                        <div class="modal-content">
                                            <div class="modal-header border-0">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-center mt-2 mb-5 mx-5">
                                                <p class="h4 mb-3">
                                                    Are you sure you want to delete this document?
                                                </p>
                                                <p class="mb-5">
                                                    {{ doc.name }}
                                                </p>
                                                <div class="d-flex justify-content-evenly px-3">
                                                    <button type="button" class="btn btn-primary w-100" data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <div class="mx-5"></div>
                                                    <button class="btn btn-secondary w-100" type="submit" name="delete" value="{{ doc.id }}" data-bs-toggle="modal" data-bs-target="#waiting">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
